# Linear regression with categorical data

Predict the total spend in particular month based on Gender and City tier

In [163]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [164]:
data_set = pd.read_csv('./datasets/ecom_expense.csv')
data_set.head(20)

,Transaction ID,Age,Items,Monthly Income,Transaction Time,Record,Gender,City Tier,Total Spend
0,TXN001,42,10,7313,627.668127,5,Female,Tier 1,4198.385084
1,TXN002,24,8,17747,126.904567,3,Female,Tier 2,4134.976648
2,TXN003,47,11,22845,873.469701,2,Male,Tier 2,5166.614455
3,TXN004,50,11,18552,380.219428,7,Female,Tier 1,7784.447676
4,TXN005,60,2,14439,403.374223,2,Female,Tier 2,3254.160485
5,TXN006,49,6,6282,48.974268,2,Male,Tier 2,2375.036467
6,TXN007,21,14,7086,961.203768,8,Male,Tier 1,7494.474559
7,TXN008,58,9,8881,962.253740,10,Male,Tier 3,10782.944920
8,TXN009,20,6,5635,858.328132,5,Male,Tier 1,3854.277411
9,TXN010,48,12,20861,43.036737,4,Female,Tier 2,5346.140262
10,TXN011,37,8,2556,947.846386,1,Male,Tier 3,1712.073796
11,TXN012,49,8,27947,89.643348,6,Male,Tier 2,8047.046153
12,TXN013,48,12,23445,773.635988,9,Male,Tier 3,11334.578240
13,TXN014,34,10,14297,245.894150,2,Male,Tier 2,3791.364491
14,TXN015,39,1,3405,120.916781,1,Male,Tier 1,1674.998658
15,TXN016,29,13,28714,546.552274,6,Male,Tier 2,8446.607517
16,TXN017,37,13,14069,131.206447,8,Female,Tier 1,8338.438530
17,TXN018,58,14,28428,102.052371,9,Female,Tier 3,11933.056880
18,TXN019,58,15,14982,69.324883,10,Male,Tier 2,11898.854880
19,TXN020,58,13,27864,350.785703,8,Female,Tier 1,10502.397200

In [165]:
# Data dummy creation
dummy_gender =pd.get_dummies(data_set['Gender'], prefix='Gender').iloc[:,:-1]
dummy_city_tier = pd.get_dummies(data_set['City Tier'], prefix='City').iloc[:,1:]

In [166]:
dummy_gender.head()

   Gender_Female
0           True
1           True
2          False
3           True
4           True

In [167]:
dummy_city_tier.head()

   City_Tier 2  City_Tier 3
0        False        False
1         True        False
2         True        False
3        False        False
4         True        False

In [168]:
# Joining data with dummy data
column_names = data_set.columns.values.tolist()
column_names

['Transaction ID',
 'Age ',
 ' Items ',
 'Monthly Income',
 'Transaction Time',
 'Record',
 'Gender',
 'City Tier',
 'Total Spend']

In [169]:
# Joining dummies
joined_data_set = data_set[column_names].join(dummy_gender)
column_names = joined_data_set.columns.values.tolist()
joined_data_set = joined_data_set[column_names].join(dummy_city_tier)
# show updating
joined_data_set.head()

,Transaction ID,Age,Items,Monthly Income,Transaction Time,Record,Gender,City Tier,Total Spend,Gender_Female,City_Tier 2,City_Tier 3
0,TXN001,42,10,7313,627.668127,5,Female,Tier 1,4198.385084,True,False,False
1,TXN002,24,8,17747,126.904567,3,Female,Tier 2,4134.976648,True,True,False
2,TXN003,47,11,22845,873.469701,2,Male,Tier 2,5166.614455,False,True,False
3,TXN004,50,11,18552,380.219428,7,Female,Tier 1,7784.447676,True,False,False
4,TXN005,60,2,14439,403.374223,2,Female,Tier 2,3254.160485,True,True,False

In [170]:
# num records in data_Set
data_set.size

21258

In [171]:
# Getting prediction variables
x_features_cols = [
    "Monthly Income",
    "Transaction Time",
    "Gender_Female",
    "Record",
    "City_Tier 2",
    "City_Tier 3",
]

In [172]:
X = joined_data_set[x_features_cols]
Y = joined_data_set['Total Spend']

In [173]:
X

,Monthly Income,Transaction Time,Gender_Female,Record,City_Tier 2,City_Tier 3
0,7313,627.668127,True,5,False,False
1,17747,126.904567,True,3,True,False
2,22845,873.469701,False,2,True,False
3,18552,380.219428,True,7,False,False
4,14439,403.374223,True,2,True,False
...,...,...,...,...,...,...
2357,5705,460.157207,False,3,True,False
2358,11202,851.924751,False,8,True,False
2359,21335,435.145358,True,8,False,True
2360,19294,658.439838,True,7,False,False
2361,2855,560.514341,False,8,False,False

In [174]:
Y

0       4198.385084
1       4134.976648
2       5166.614455
3       7784.447676
4       3254.160485
           ...
2357    2909.619546
2358    7968.633136
2359    8816.406448
2360    7915.595856
2361    6832.401686
Name: Total Spend, Length: 2362, dtype: float64

In [175]:
# splitting into training and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.2, random_state=0)

In [176]:
x_train

,Monthly Income,Transaction Time,Gender_Female,Record,City_Tier 2,City_Tier 3
1424,22167,156.973464,False,6,False,False
1376,7934,692.705289,True,1,False,True
2050,17254,421.653166,False,4,False,False
914,19728,158.358498,False,3,True,False
676,26277,521.805880,True,8,False,False
...,...,...,...,...,...,...
1033,5050,920.947939,True,2,False,False
1731,23337,634.924087,False,6,True,False
763,29588,623.399313,False,0,False,False
835,5888,198.872036,True,5,False,False
1653,25419,47.113623,True,2,True,False

In [177]:
x_test

,Monthly Income,Transaction Time,Gender_Female,Record,City_Tier 2,City_Tier 3
1755,23468,544.533792,True,0,False,True
2018,26298,462.087467,False,0,False,False
1996,20025,282.888582,False,2,True,False
1649,15381,21.381729,False,10,True,False
1334,10981,849.518353,True,1,False,True
...,...,...,...,...,...,...
781,28514,261.200188,False,9,False,False
2042,15959,951.322135,False,5,True,False
1914,7431,127.983308,True,9,False,True
1529,13798,260.156723,False,7,False,True
1045,9367,833.153632,True,5,False,False

In [178]:
y_train

1424    7151.376970
1376    2530.154850
2050    5109.201865
914     4685.743060
676     9753.593910
           ...
1033    2254.663179
1731    7299.566526
763     6245.676632
835     3749.719449
1653    5079.904321
Name: Total Spend, Length: 1889, dtype: float64

In [179]:
y_test

1755     4285.802484
2018     5719.172419
1996     4625.651213
1649    11549.620250
1334     2967.067277
            ...
781     11943.771920
2042     5592.344837
1914     8651.339907
1529     7406.867751
1045     4548.784586
Name: Total Spend, Length: 473, dtype: float64

In [180]:
# Getting model
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(x_train,y_train)
lm.score(x_train,y_train)

0.9164421477604672

In [181]:
y_prediction_testing = lm.predict(x_test)
y_prediction_testing

array([ 3218.44263381,  4073.99812589,  4662.49078811, 10075.97493864,
        2214.15983549,  2182.51295642,  4758.77370461,  4700.87665276,
       11022.16498691,  7860.89013943,  5999.86769687,  4422.04071765,
        6005.613152  , 11573.00123069,  5051.97249514,  3669.79747499,
        1957.00180753,  2529.86764847,  8165.494642  ,  6523.01349324,
        3368.58664074,  7576.04446337,  5685.63479433,  4385.10370227,
        4139.72478907,  1482.33198441,  9693.23434387,  4701.64113451,
        5272.68053692,  6913.21856459,  7256.7912234 ,  8097.15171087,
        9115.74400111,  8929.91715784,  3128.01958013,  6228.72507007,
        9042.44976709,  4350.3423727 ,  6982.96133452,  3685.35252867,
        4537.79081321,  4394.98040045, 10534.78321891,  5414.79975899,
        1650.39479668,  6588.81552251,   689.00997366,  2959.5924539 ,
       10406.35185253,  5680.23535152,  4175.97779646,  3821.14155256,
        7949.80114729,  5617.39260419,  8747.50023446,  7495.30364651,
       11118.1427261 ,  5853.90185432,  5855.08832557,  9468.01682461,
        7487.41764343,  5594.61479925,  9066.59875093,  6825.26268215,
        8479.92978874,  8854.42978919, 11721.38250686,  6742.12863422,
        4657.39087455,  8474.27624928,  3892.27666487,  7748.09606311,
        9012.95586007,  3513.61674945,  4533.4274875 , 11336.8907882 ,
        8291.07709179,  2350.81076752,  1425.39409353,  7491.36634443,
        8798.65983011,  8584.04211227,  8272.51132523,  9518.71497621,
         429.81002821,  7458.63546894, 11303.93880555,  4695.16460078,
        6942.81212908,  2582.45412854,  5893.92491347,  9362.35054328,
        3269.11185471,  4630.11426276,  6931.40685758,  9015.75580432,
        5178.66550819, 10478.25521919,  1262.68860599, 10751.09431688,
        3230.06779781,   764.86375062,  9287.19530216,  2073.20962283,
        2630.04175952,  5323.47251587,  3059.55807448,  9507.21614346,
        2854.8114012 ,  3894.14000724, 10314.12749045,  4805.86509505,
        8324.8145576 ,  2633.5977975 ,  8418.93881366,  8117.35510623,
        9691.37431909,  7054.79302451, 10458.4560465 ,  3349.0696563 ,
        5346.61267959,   906.42845678,  3139.89196704,  4197.8038286 ,
        1793.90511363,  4964.54467236,  7318.7035686 ,  5922.28976484,
        2187.45086235,  3675.70640419,  4698.64068249, 10117.02504418,
        2971.78428794,  8145.99826255,  8082.2510533 ,  8555.69900652,
        4348.90236687,  7573.71419018, 10000.85310251,  1268.79520907,
       10200.87815914,  9803.27253934,  7245.74323405,  6141.62845186,
        2940.26293619,  4458.74155153,  5923.63041656,  4195.35635749,
        5177.43300574,  4796.17501585,  6840.87100053,  9358.76448288,
        2266.91016754,  5202.42121998,  7098.21168889,  7021.58429067,
        5962.13534355,  3440.6915039 ,  1960.13618299, 10372.77235387,
        2059.72721328,  1624.33528691,  6301.27842307,  9381.60814659,
        5184.32554382,  7649.76105564,  7931.48075463,  4182.17845441,
       10427.11039013,  3797.34045015,  8408.55833678,  2371.18313835,
        4147.26416372,  7914.13163365, 10222.62469741,  6132.83421174,
        6596.72933118,  3685.49280141,  2730.20993109,  8115.77364158,
        9969.79780789,  8768.8249852 ,  6174.42855773,  7334.91631836,
        2361.09914317,  2607.42818392,  8113.44827886,  4486.04341732,
        3525.38266218,  9365.60403435, 10421.72542873, 10026.83797089,
        5403.62042761,  9079.53842125,  9691.1379362 ,  5910.6071547 ,
        9474.72549752,  4054.96916058, 10353.68040323,  7481.38236148,
        3701.46349159,  5076.74306621, 10364.54150141,  6543.54779141,
        2872.26735774,  2693.97438693,  7734.35524946,  3008.18283429,
        3746.15886146,  4418.33592439,  7465.70984432,  1654.26155422,
        6468.38762317,  1941.25962121, 10837.48305289,  7084.96052132,
        6222.85658218,  5068.67559866, 10395.51534998,  3044.58326472,
        3262.49901934,  5150.45643684,  7066.65435889,  5096.31512063,
        9391.02096308,  8811.72986538,  5018.12125928,  3480.54435258,
        5520.38541737,  9469.75750668,  2525.95760722,  1971.36016453,
        7376.04272082,  5070.55789123,  6170.35510241,  4902.6674237 ,
        7699.67728242,  2959.4748197 ,  9502.57713769,  4797.35951366,
        6525.86756454, 10108.53120116,  3883.84721071,  2385.58869657,
        8293.70729733,  3577.87901893,  8399.29491772,  6343.25018828,
        3847.10406972,  5996.47249684,  8973.92553909,  6548.88904332,
        3169.4975928 ,  6386.74619935,  3978.9458736 ,  8393.58321458,
        1608.86952339,  2505.82044929,  5237.43567557,  9914.15733548,
        6986.21083147,  1866.02506144,  9081.25689334,  6041.22560761,
        7239.51063184,  5436.23308204,  5556.68358921,  7856.15574487,
       10458.64141016,  7178.8132187 ,  7641.61856667, 10027.9565747 ,
        7806.43907242,  7439.90906942,  7992.44485742,  2766.42756182,
        5814.07863084,  4757.8161747 ,  8067.22817488,  8760.07698384,
        8155.98292691,  8908.09217239,  6608.34308426,  8336.60490146,
        6681.9691524 ,  2667.50207449,  3645.97550435,  3926.0013516 ,
        7945.33037841,  6306.20812707, 10401.52497884,  2670.95527931,
        7660.57587168,  6801.18649216,  5158.14013465,  3080.82497397,
        9503.10703444,  3393.38697804, 10168.67515682,  4049.20924262,
        6495.91618949,  8041.92365987,  3985.02301456,  3938.01114337,
        8083.91918704,  4877.1337829 ,  6492.89542224,  7192.42515192,
        8676.25380434,  5164.88341583,  2762.24764757,  3359.23099071,
        8231.23683447,  5069.58424098,  7690.92905038,  6459.81610753,
        3191.24316406,  6098.69137884,  2630.16781972,  5691.82180599,
        3772.00658161,  7587.53078161,  3092.33599036,  9313.65542188,
        8248.55596672,  8564.6124861 ,  7786.29502557,  5986.82249342,
        5557.47926515,  1879.98220256,  5169.00977347,  7739.94982138,
         449.27649687,  1957.26065282,  7671.20773913,  5078.16275943,
        9565.8548965 ,  9144.67132167,  8843.49841748,  6004.24795981,
        4477.38242752, 11222.24483358,  2882.64816825,  4618.88363304,
        5345.71694404,  5375.02800656,  2821.79541627,  2686.62509218,
        8857.93069402,  4238.22170143,  7436.21884472,  7992.7536729 ,
        9100.73564201, 10023.87361966,  4088.41239715,  4459.51475017,
        9427.58728718,  2283.72539452,  5180.90693875,  7577.70491006,
       12235.58085624,  6413.04749567, 10026.46109956,  8143.01177245,
        6063.17434326,  3171.91969287,  2923.67840387,  6690.64864555,
        6759.81791237,  8162.18033526,  5594.29076948,  6519.12525353,
        9203.05864563,  5492.73905657,  3322.99018121,  6569.91047424,
       10772.62731409,  6096.36589745,  6252.09465056, 11577.30479375,
        4826.6484262 ,  6168.23595491,  2942.23520482,  3382.63190081,
        5393.75476225,  7883.53402025,  6370.1334053 ,  4339.95436713,
        9374.85992987,  8535.55038197,  8547.09630303,  5141.82072517,
        5045.72331612,  6550.71806891,  5706.95566179,  4992.41744478,
        6836.96147046,  4223.16303101,  9458.12591192,  2673.46386741,
       10679.64672409,  7342.56120961,  1514.97135146,  5735.92858127,
       11461.92995508,  6712.58357895,  2670.58122438,  6872.37178838,
        3905.37395062,  5262.65830082,  4613.97084436,  1656.26197737,
        7686.89813545,  4321.30614812,  7058.41188408,  8312.59222402,
        5636.62857543,  6936.04647536,  3553.3868173 ,  8243.99524239,
        6690.97614333,  5594.02998293,  3040.12033407,  2730.38500256,
        5936.49617533,  4977.27004786,  7153.86476822,  2875.86356018,
        8598.69250428,  8689.45576304,  5876.52293171,  9503.61126864,
        5998.7095782 ,  9099.01551975,  6765.81662397,  3585.17995827,
        5740.47966692,  7751.71874289,  4720.02652115,  6772.41005401,
        2943.41189615,  5372.87925658, 12030.63198164,  9133.08796125,
        7495.43416823,  3156.84465066,  8203.35086478,  9888.55748128,
        5471.75187296,  3395.61329743,  4162.26561326,  4473.06393864,
        7231.57603599,  7234.59756169, 11163.33079567,  7662.9718598 ,
        1710.39645875,  7220.23517416,  2705.54684666,  7503.36816121,
        2957.54914376,  3336.3773822 ,  8478.23682922,  6753.00772115,
        3679.76534658,  8122.49653881, 10883.51255885,  2763.36849803,
       11271.26520337,  6494.76731358,  7702.24767781,  7394.03003289,
        5232.05298727])

In [182]:
# Comparison real vs prediction
comp = pd.DataFrame({
    'Real data testing': y_test, 
    'Prediction testing':y_prediction_testing
})

In [183]:
print(f'm = {lm.intercept_}')
for i,e in  enumerate(lm.coef_):
    print(f'x{i} = {e}')

m = 136.4052434237965
x0 = 0.146459305334961
x1 = 0.18612508878930925
x2 = -270.2537070771967
x3 = 767.7892688243682
x4 = 5.006755313556827
x5 = -186.16728042601443

In [184]:
result = list(zip(x_features_cols, lm.coef_))
result

[('Monthly Income', 0.146459305334961),
 ('Transaction Time', 0.18612508878930925),
 ('Gender_Female', -270.2537070771967),
 ('Record', 767.7892688243682),
 ('City_Tier 2', 5.006755313556827),
 ('City_Tier 3', -186.16728042601443)]

In [185]:
model = f'total spend = {lm.intercept_} + '
for i,e in enumerate(result):
    model += f'({e[0]})*{e[1]} + '
print("Regression equation: ")
print(model)

Regression equation:
total spend = 136.4052434237965 + (Monthly Income)*0.146459305334961 + (Transaction Time)*0.18612508878930925 + (Gender_Female)*-270.2537070771967 + (Record)*767.7892688243682 + (City_Tier 2)*5.006755313556827 + (City_Tier 3)*-186.16728042601443 +